

.num{
   margin-left: 80px;
}

.num span{
    color:#3AD3E8  ;
    font-size: 30px;
    font-weight: 700;
}

.num p{
    color:gray;
    font-size: 12px;
    font-weight: 700;
}

.dblue{
    font-size: 17px;   
}

.red{
    font-size: 17px;
}

.red span{
    color: red;
}
span{
color:#2980B9;
}

a{
    color:#43BFC7;
    font-weight: 600;
    text-decoration: none;
}

p{
    font-weight: 600;
}

.box1{
box-shadow:   5px 0 2px -2px #888;   
}

.logo{
    top: 20px;
}

.logo p{
    font-size: 55px;
}

.text{
    color: white;
    bottom: 220px;
    left: 40px;
    font-size: 26px;
}

.boton{
    bottom: 30px;
    left:20px;
    font-weight: 500;
    padding-left: 53px;
    padding-right: 53px;
    font-size: 17px;
}

.ninja{
   bottom:90px;
   left:70px;
}

br{
    font-weight:500 ;
}

.botn{
    box-shadow: 4px 4px 2px -2px #888;
    font-weight: 500; 
    padding-left: 30px;
    padding-right: 30px;  
    font-size: 22px;  
    margin-top:20px ;  
}

.blue{
    color:#2980B9;
}
